<body>
    {% if listaAttività %}
    <table>
    <tr>
    <th>Nome attività</th>
    <th>Tipo Attività</th>
    <th>Indirizzo</th>
    <th>Orari</th>
    <th>CAP</th>
    <th></th>
    </tr>
    {% for attività in listaAttività %}
    <tr>
        <th>{{attività.nome}}</th>
        <th>{{attività.tipo_attività.nome}}</th>
        <th>{{attività.indirizzo}}</th>
        <th>{{attività.orario}}</th>
        <th>{{attività.cap}}</th>
        <th><button><a href="/modifica_attività/{{ attività.id }}">modifica attività</a></button></th>
    </tr>
    {% endfor %}
    </table>
    {% endif %}
    <br>
    <button> <a href="/registra_attività">aggiungi un attività</a></button>
   
    
    </body>