<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!--<link rel="stylesheet" href="style_home.css">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='style_home.css') }}">
</head>
<header>
    
</header>

<body>
    <div class="immagineSopra"></div>
    
    <h2>Login</h2>

    <form method="POST" action="/login_fornitori">
        <div class="container">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" placeholder="Email" required><br>
            <label for="password">Password:</label>
            <input type="password" id="password"  name="password" placeholder="Password" required>
            <input type="submit" value="Login">
            
        </div>
    </form>

    <a href="/registra_fornitori"><p>Non hai un account? Registrati</p></a>
</body>
<footer>

</footer>
</html>