<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{attività.nome}}</title>
</head>
<body>
    <form method="POST" action="/modifica_attività/{{attività.id}}">
        <div class="container">
            <label for="nome">Nome attività:</label>
            <input type="text" id="nome" name="nome" placeholder='{{attività.nome}}' value="{{attività.nome}}" required><br>

            <label for="tipo_attività">Tipo attività:</label>
            {% for categoria in tipoAttività %}
                <input type="radio" value={{categoria.id}} name="tipo_attività">
                {{categoria.nome}}</input>
            {% endfor %}
            <br>
            

            <label for="indirizzo">indirizzo:</label>
            <input type="text" id="indirizzo" name="indirizzo" placeholder='{{attività.indirizzo}}' value="{{attività.indirizzo}}"><br>

            <label for="cap">CAP:</label>
            <input type="text" id="cap" name="cap" placeholder='{{attività.cap}}' value="{{attività.cap}}" required><br>

            <label for="orario">orario:</label>
            <input type="text" id="orario" name="orario" placeholder='{{attività.orario}}' value="{{attività.orario}}"><br>

            <input type="submit" value="aggiorna">
            
        </div>
    </form>


</body>
</html>