<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style_attività.css">
</head>
<header>
    
</header>

<body>
    <div class="immagineSopra">
    </div>
    
    <div class="mainContainer">
        <h2>Registrazione attività</h2>
    <div class="container">
        <input type="text" id="nome attività" placeholder="Nome attività " required>
        <input type="text" id="tipo attività" placeholder="Tipo attività" required>
        <input type="text" id="descrizione" placeholder="Descrizione attività" required>
        <p id="location"></p>
        <input type="text" id="indirizzo attività" placeholder="Indirizzo attività" required>
        <input type="text" id="inserisci città" placeholder="Città" required>
        <input type="text" id="cap" placeholder="CAP" required>
        <input type="text" id="Orario" placeholder="Orario" required>
    </div>
        
    
        <button>Conferma</button>
        

        <button>Torna indietro</button>
    </div>
    
    
</body>
<footer>

</footer>
</html>