<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrazione</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_attività.css') }}">
</head>

<header>
    
</header>

<body>

    <div class="immagineSopra"></div>

    <h2>Registrazione</h2>

    <div class="container" id="main">
        <div class="container">
            <p>Nome</p>
            <input type="text" id="nome" placeholder="Nome" required>
            <p>Username</p>
            <input type="text" id="username" placeholder="Username" required>
            <p>Password</p>
            <input type="text" id="password" placeholder="Password" required>
        </div>
    
        <div class="container">
            <p>Cognome</p>
            <input type="text" id="cognome" placeholder="Cognome" required>
            <p>Email</p>
            <input type="text" id="email" placeholder="Email" required>
            <p>Ripeti password</p>
            <input type="password" id="password_check" placeholder="Ripeti password" required>
        </div>
    </div>
    
    <div class="container" id="main">
        <button href="login">Indietro</button>
        <!--<button onclick="goToLogin()">Indietro</button>-->
        <button onclick="register()">Registrati</button>
    </div>
    

</body>

<footer>
    <a href="/login">Indietro</a>
    <a href="home.html">Avanti</a>
</footer>

</html>