body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

h2{
    text-align: center;
}

.container {
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    text-align: start;
}

#main{
    width: 80%;
    display: flex;
    justify-content: center;
}

input {
    width: 92%;
    margin: 2%;
    padding: 2%;
    border: 1px solid #ccc;
    border-radius: 5rem;
}

.container p{
    margin-left: 4%;
    margin-bottom: -1%;
}

button {
    margin: 1%;
    width: 10%;
    padding: 10px;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5rem;
    cursor: pointer;
    text-align: center;
}

a p{
    display: block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}

.immagineSopra{
    position: absolute;
    margin-top: -10cap;
    top: 0;
    background-color: #007bff;
    width: 150%;
    height: 30%;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
}